.dashboard{
    min-height:100vh;
    background:#2c2c2c;
    padding:32px;
}

.page-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.page-title h1{
    font-size:42px;
    font-weight:700;
    color:#756ac5;
}

.empty{
    background:white;
    padding:50px;
    border-radius:16px;
    text-align:center;
    color:#757575;
}

.transparent-btn {
  background-color: transparent;
  box-shadow: none;
  border:none;
  outline:none;
}

mat-icon{
    color:#756ac5;
    font-size: x-large;
}

.error{
    color:red;
    padding:20px;

}

.kpi-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:24px;
    margin-bottom:4px;
}

.chart-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
    margin-bottom:32px;
}

.table-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
    margin-bottom:32px;
}

@media(max-width:1200px){
    .kpi-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){
    .kpi-grid{
        grid-template-columns:1fr;
    }

    .chart-grid{
        grid-template-columns:1fr;
    }

    .table-grid{
        grid-template-columns:1fr;
    }
}

.environment-section{
    margin-top:8px;
    margin-bottom:32px;
}