.header {
    height: 72px;
    background: #2c2c2c;
    color: #edeef0;
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.spacer {
    flex: 1;
}