:host {
  display: block;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 0px;
  background:#2c2c2c;
}

.layout{
    height:100vh;
}

.sidebar{
    width:260px;
    border-right:none;
    background:#343333;
}

.content{
    padding:24px;
    min-height:100vh;
}