.chart-card{
    background:#2c2c2c;
    padding:20px;
    border-radius:16px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.title{
    font-size:24px;
    font-weight:500;
    color:#d8d8d8;
}

.chart-container{
    height:400px;
}